.container {
  display: flex;
  align-items: baseline;
  justify-content: center;
  margin: 3rem 0 1rem 0;
}

.container2 {
  display: inline-block;
  background-color: gainsboro;
}

.subcontainer {
  display: flex;
  justify-content: center;
  background-color: rgb(121, 58, 58);
  width: 2px;
  margin: 2px;

}

.container1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: gainsboro;
}

.container1 img {
  margin: auto 0 auto 1rem;
  width: 3.5rem;
  height: 3.4rem;
  border-radius: 20px;
}

.h1 {
  margin: 1.2rem 0 0 -18rem;
}

.list {}

.ul {
  display: flex;
  list-style: none;
  margin-right: 2.5rem;
}

.ul li {
  margin: 0.9rem 2rem 0 2rem;
  font-size: 1.3rem;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  padding: 0 4px;
}

.ul li:hover {
  cursor: pointer;
  background-color: rgb(195, 199, 202);
  border-radius: 5px;

}

.buttons {
  display: flex;
  margin-bottom: 2rem;
  justify-content: center;
}

.genman {
  margin: 0.5rem;
}

.genman:hover {
  cursor: pointer;
}

.genBars {
  margin: 0.5rem;
}

.genBars:hover {
  cursor: pointer;
}

.exetime {
  margin: 'auto';
  text-align: 'center';
}

.ok:hover {
  cursor: pointer;
}

@keyframes example {
  0% {
    background-color: rgb(182, 146, 152);
    left: 0px;
    top: -1000px;
  }

  100% {
    background-color: rgb(182, 146, 152);
    left: 0px;
    top: 0px;
  }
}

@keyframes example1 {
  0% {
    background-color: rgb(182, 146, 152);
    left: 0px;
    top: 1000px;
  }

  100% {
    background-color: rgb(182, 146, 152);
    left: 0px;
    top: 0px;
  }
}

.form1 {
  width: 25rem;
  display: none;
  flex-direction: row;
  border-radius: 3px;
  animation-name: example;
  animation-duration: 4s;
}

.form2 {
  width: 25rem;
  display: none;
  flex-direction: row;
  border-radius: 3px;
  background-color: pink;
  animation-name: example1;
  animation-duration: 4s;
}

.closeform1:hover {
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .container {
    margin: 4rem 0.2rem 1rem 0.2rem;
    overflow: auto;
    width: auto;
  }

  .container1 {
    width: auto;
  }

  .container1 img {
    margin: 1.8rem 1rem 1rem 1rem;
    width: 2rem;
    height: 2rem;
  }

  .h1 {
    margin: 1.9rem 0 0 -8rem;
    font-size: 1.1rem;
  }

  .ul {
    margin-right: 0.5rem;
  }

  .ul li {
    margin: 0.9rem 0.01rem 0 0.01rem;
    font-size: 1.1rem;
  }

  .container2 {
    display: inline-block;
  }

  .subcontainer {
    display: flex;
    justify-content: center;
    background-color: rgb(109, 6, 6);
    width: 2px;
    margin: 2px;

  }

  .genman {
    margin: 1rem 0.1rem 0rem 0;
  }

  .genBars {
    margin: 1rem 0rem 0rem 0.1rem;
  }

  .exetime {
    margin: auto;
    text-align: center;
    font-size: 0.75rem;
  }

  .form1 {
    width: 20rem;
  }

  .form2 {
    width: 20rem;
  }

}

@media only screen and (max-width: 687px) {
  .ul li {
    margin: 0.9rem 0.01rem 0 0.01rem;
    font-size: 0.8rem;
  }

  .h1 {
    margin: 1.7rem 0 0 0rem;
    font-size: 1.1rem;
  }
}